* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(162, 198, 158);
    font-family: 'Montserrat', sans-serif;
}

.logo {
    color: rgb(237, 237, 237);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
   color: rgb(237, 237, 237);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;

}
.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(237, 237, 237);
    margin: 5px;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
    }
}